/* Navbar Component */

#nav {
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 2;
}

.navItems {
    padding: 20px;
    color: #fffefe;
    text-shadow: 1px 1px 3px black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: none;
}

/* FAQ component */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.faqDiv {
    position: relative;
    top: 100px;
}

#faqTitle {
    text-align: center;
}

/* Pricing Component */

#priceDiv {
    width: 25%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;
}


/* Carousel Component */

#logo {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    position: absolute;
    left: 40px;
    text-shadow: 1px 1px 2px black;
    color: #fffefe;
    z-index: 2;
}

#overlay {
    top: 0px;
    position: absolute;
    background-color: #00000042;
    height: 102vh;
    width: 100%;
    margin: -8px;
}


/* Quote Component  */

#quoteDiv {
    width: 50%;
    position: relative;
    top: 100px;
    margin: auto;
    border: 1px solid #d3cfcf;
    padding: 30px;
    box-shadow: 1px 1px 3px;
}